:root {
  --logo-color-dark:              #000000; /*логотип футер*/
  --text-title-color-btn-dark:    #212121; /*колір тексту заголовків*/
  --text-subtitle-color:          #757575; /*колір тексту опису*/
  --text-hero-section-logo-light: #ffffff; /*колір тексту секція героя*/
  --akcent-color:                 #2196f3; /*колір активного стану ссилок кнопки*/
  --footer-contact-color:         rgba(255, 255, 255, 0.6); /* колір ссилок футера*/
  --background-section:           #f5f4fa;
  --icon-color:                   #afb1b8;
  --font-weight-bold:             700; /*Bold*/
  --set-gap:                      30px;
  --timing-function:              cubic-bezier(0.4, 0, 0.2, 1);
  --trans-direct:                 250ms;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--text-title-color-btn-dark);
  background-color: var(--text-hero-section-logo-light);
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

a {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container-leveling-pages {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section-pading {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header__title--visibility-hidden {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* header font style  */

.logo {
  font-family: Raleway;
  font-weight: var(--font-weight-bold);
  font-size: 26px; /* лого хедер*/
  line-height: 1.19;
  text-decoration: none;
  color: var(--logo-color-dark);
  padding: 24px 0px 25px 0;
  }

.logo__text {
  font-weight: var(--font-weight-bold);
  font-size: 26px; /* лого хедер*/
  line-height: 1.19;
  text-decoration: none;
  color: var(--akcent-color);
}

.nav-bar {
  margin-left: 93px;
}

.nav-bar__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px; /* навігація сайту*/
  line-height: 1.14;
  color: var(--text-title-color-btn-dark);
  padding: 32px 0;
  transition-property: color;
  transition-duration: var(--trans-direct);
  transition-timing-function: var(--timing-function);
}

.nav-bar__link:hover,
.nav-bar__link:focus {
  color: var(--akcent-color); /* фокус кнопок навігації*/
}

.nav-bar .nav-bar__link--current {
  text-decoration: none;
  color: var(--akcent-color); /* фокус ссилок навігації*/
}

.contacts__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px; /* контакти*/
  line-height: 1.14;
  color: var(--text-subtitle-color);
  transition-property: color;
  transition-duration: var(--trans-direct);
  transition-timing-function:var(--timing-function);
}

.contacts__link:hover,.contacts__link:focus {
  text-decoration: none; /* фокус на контактах*/
  color: var(--akcent-color);
}

/* logo+navbar  */

.header {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.nav-tools {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-bar__item {
  display: inline-block;
}

.nav-bar__item:not(:last-child) {
  margin-right: 50px;
}

.nav-bar__link--current {
  position: relative;
}

.nav-bar__link--current::after {
  content: " ";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--akcent-color);
}

/* contact  */

.contacts {
  display: flex;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 8px;
}

/* hero section font style  */

.baner {
  font-family: inherit;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to left top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/image_hero.jpg);
  padding: 200px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--text-hero-section-logo-light);
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__btn {
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
  font-weight: var(--font-weight-bold);
  font-size: 16px; /* кнопк азаказать услугу*/
  line-height: 1.87;
  background-color: var(--akcent-color);
  color: var(--text-hero-section-logo-light);
  cursor: pointer;
  text-align: center;
  flex-basis: 50px;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: var(--trans-direct);
  transition-timing-function:var(--timing-function);
}

.hero__btn:hover,
.hero__btn:focus{
  background-color: rgba(24, 140, 232, 1);
  
}

/* advantegse styles  */

.advantages-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--set-gap));
  margin-top: calc(-1 * var(--set-gap));
}

.advantages-list > .advantages-list__card{
  flex-basis: calc(100% / 4 - var(--set-gap));
  margin-left: var(--set-gap);
  margin-top: var(--set-gap);
}

.advantages-list__hold {
  padding: 25px 100px;
  background: var(--background-section);
  border-radius: 4px;
}

.advantages-list__icon{
  display: block;
}

.advantages-list__title {
  font-weight: var(--font-weight-bold); /* секція наші переваги*/
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.advantages-list__description {
  font-size: 14px; /* секція наші переваги*/
  line-height: 1.71;
  color: var(--text-subtitle-color);
}

/* what do you do  */

.we-do {
  padding-top: 0;
}

.we-works__title {
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.we-do-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--set-gap));
  margin-top: calc(-1 * var(--set-gap));
}

.we-do-list__item {
  display: block;
  width: 370px;
}

.we-do-list > .we-do-list__item {
  flex-basis: calc(100% / 3 - var(--set-gap));
  margin-left: var(--set-gap);
  margin-top: var(--set-gap);
}

.we-do-list__image-hold {
  position: relative;
}

.we-do-list__sign-holder {
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.we-do-list__description {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-hero-section-logo-light);
}

/* Team  */

.team {
  background-color: var(--background-section);
}

.brigade__title {
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--set-gap));
  margin-top: calc(-1 * var(--set-gap));
}

.team-list > .team-list__item {
  flex-basis: calc(100% / 4 - var(--set-gap));
  margin-left: var(--set-gap);
  margin-top: var(--set-gap);
}

.team-list__item {
  background-color: var(--text-hero-section-logo-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.caption-pictures {
  text-align: center;
  padding: 30px 0;
}

.caption-pictures__sign {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.caption-pictures__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-subtitle-color);
}

.social-network {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-network__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  transition-property: background-color, fill;
  transition-duration: var(--trans-direct);
  transition-timing-function:var(--timing-function);
}

.social-network__link:hover,
.social-network__link:focus {
  fill: var(--text-hero-section-logo-light);
  background-color: var(--akcent-color);
}

.social-network__link:not(:last-child) {
  margin-right: 10px;
}

/* Our clients */

.clients__title {
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-color-btn-dark);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--set-gap));
  margin-top: calc(-1 * var(--set-gap));
}

.clients-list__item {
  flex-basis: calc(100% / 6 - var(--set-gap));
  margin-left: var(--set-gap);
  margin-top: var(--set-gap);
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 166px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition-property: border;
  transition-duration: var(--trans-direct);
  transition-timing-function:var(--timing-function);
}

.clients-list__link:focus svg,
.clients-list__link:hover svg {
  fill: var(--akcent-color);
}

.clients-list__link:focus,
.clients-list__link:hover {
  border: 1px solid var(--akcent-color);
  border-radius: 4px;
}

 .clients-list__icon {
  fill: var(--icon-color);
  transition-property: fill;
  transition-duration: var(--trans-direct);
  transition-timing-function:var(--timing-function);
}

/* footer font style  */

.logo--light {
  font-family: Raleway;
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--text-hero-section-logo-light);
}

.footer {
  background-color: #2f303a;
  padding-top: 72px;
  padding-bottom: 60px;
}

.footer-holder {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.adress {
  font-style: normal;
  margin-top: 20px;
}

.footer-contact-list__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1,71;
  letter-spacing: 0.03em;        /* контакти футер*/
  color: rgba(255, 255, 255, 0.6);
}

.adress__line {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-hero-section-logo-light);
}

address p {
  margin-top: 0;
  margin-bottom: 9px;
}

.footer-contact-list__item:not(:last-child) {
  margin-bottom: 6px;
}

/* Social link footer style  */

.join {
  width: 206px;
  height: 80px;
  margin-left: 70px;
  margin-right: 93px;
}

.join__title {
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-hero-section-logo-light);
  margin-bottom: 20px;
}

.social-network__link--darken {
  fill: var(--text-hero-section-logo-light);
  background-color: rgba(255, 255, 255, 0.1);
}

/* Subscribe */

.newsletter-subscribe__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-hero-section-logo-light);
}

.form-subscribe {
  display: flex;
  align-items: center;
}

.register {
  position: relative;
}

.register__input {
  height: 50px;
  width: 358px;
  background-color: rgba(33, 150, 243, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--text-hero-section-logo-light);
  padding-left: 10px;
}

.register__input:focus + .register__label,
.register__input:not(:placeholder-shown) + .register__label {
  opacity: 0;
}

.register__label {
  position: absolute;
  top:15px;
  left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  transition: opacity var(--trans-direct) var(--timing-function);
}

.register__icon {
  fill: var(--text-hero-section-logo-light);
  margin-left: 10px;
}

.register__button{
  margin-left: 12px;
  display: inline-flex;
  align-items: center;
  padding-left: 29px;
  width: 200px;
  height: 50px;
  background-color: var(--akcent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--text-hero-section-logo-light);
  transition: background-color var(--trans-direct) var(--timing-function);
}

.register__button:hover,
.register__button:focus {
 background-color: #188CE8;
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.backdrop--is-hidden{
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.backdrop--is-hidden .modal{
transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;

  min-height: 581px;
  min-width: 528px;
  border-radius: 4px;
  background-color: var(--text-hero-section-logo-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%,-50%) scale(1);
  transition: transform var(--trans-direct) var(--timing-function);
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--text-hero-section-logo-light);
  height: 30px;
  width: 30px;
  border-radius:50%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  
}

.modal__icon {
  fill:var(--logo-color-dark);
  transition: fill var(--trans-direct) var(--timing-function);
}

.modal__button-close:focus .modal__icon,
.modal__button-close:hover .modal__icon {
  fill: var(--akcent-color);
}

.modal__title {
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--text-title-color-btn-dark);
  margin-bottom: 12px;
}

/* Form registration */

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-form__field {
  position: relative;
  width: 448px;
  height: 58px;
  padding-top: 18px;
  margin-bottom: 10px;
}

.registration-form__input {
  appearance:none;
  width: 448px;
  height: 40px;
  padding-left: 30px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border var(--trans-direct) var(--timing-function);
}

.registration-form__name {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-subtitle-color);
}

.registration-form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--text-title-color-btn-dark);
  transition: fill var(--trans-direct) var(--timing-function);
}

.registration-form__area {
  position: relative;
  width: 448px;
  height: 138px;
  padding-top: 18px;
  margin-bottom: 20px;
}

.registration-form__area-input {
  resize: none;
  width: 448px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: var(--text-title-color-btn-dark);
  outline: none;
  transition: border var(--trans-direct) var(--timing-function);
}
 
.registration-form__input:focus{
  border: 1px solid var(--akcent-color);
 }

.registration-form__area-input:focus {
  border:1px solid var(--akcent-color);
}

.registration-form__field:focus-within .registration-form__icon {
  fill: var(--akcent-color);
}

.registration-form__checkbox input {
 visibility: hidden;
}

.registration-form__checkbox{
  position: relative;
  display: inline-block;
  padding-left: 4px;
  width: 423px;
  height: 24px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-subtitle-color);
  transition:  background-image var(--trans-direct) var(--timing-function);
}

.registration-form__checkbox-input{
  outline: none;
}

.registration-form__checkbox-input:checked ~ .check-icon {
background-image: url(../images/icon/iconcheck.svg);
}

.registration-form__checkbox input:focus ~.check-icon {
  background-image: url(../images/icon/iconoff.svg);
}

.registration-form__checkbox:focus-within .check-icon {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid var(--akcent-color);
  background-image: none;
}

.form-area::placeholder {
  font-size: 12px;
  line-height: 1,17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contract {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--akcent-color);
}

.check-icon {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 16px;
  height: 15px;
  background-image: url(../images/icon/iconoff.svg);
  background-size: 100% 100%;
  transition:background-image var(--trans-direct) var(--timing-function) ;
}

.registration-form__button-send {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background: var(--akcent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-hero-section-logo-light);
  transition:background-color var(--trans-direct) var(--timing-function) ;
}

.registration-form__button-send:hover,
.registration-form__button-send:focus {
  background-color: #188CE8;
}

/* Portfolio Page*/

.portfolio-filters__buttons--curent-btn {
  background-color: var(--akcent-color);
  color: var(--text-hero-section-logo-light);
}

.portfolio-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  transition:color var(--trans-direct) var(--timing-function), box-shadow var(--trans-direct) var(--timing-function), background-color var(--trans-direct) var(--timing-function);
}

.portfolio-filters__buttons {
  font-family: inherit;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--text-title-color-btn-dark);
  cursor: pointer;
}

.portfolio-filters__buttons:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filters__buttons:focus,
.portfolio-filters__buttons:hover {
  color: var(--text-hero-section-logo-light);
  background-color: var(--akcent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* main page style portfolio  */

.portfolio-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--set-gap));
  margin-top: calc(-1 * var(--set-gap));
}

.portfolio-set__item {
  flex-basis: calc(100% / 3 - var(--set-gap));
  margin-left: var(--set-gap);
  margin-top: var(--set-gap);
}

.portfolio-set__link {
  box-shadow: none;
  display: block;
  border: 1px solid #eeeeee;
  transition:box-shadow var(--trans-direct) var(--timing-function);
}

.portfolio-set__link:hover,
.portfolio-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}


.image-thumb {
  position: relative;
  overflow: hidden;
}

.work-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform var(--trans-direct) var(--timing-function), opacity var(--trans-direct) var(--timing-function);
 }

 .portfolio-set__link:hover .work-description,
 .portfolio-set__item:focus-within .work-description  {
  transform: translateY(0);
  opacity: 1;
}


.work-description__anagraph {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--text-hero-section-logo-light);
  text-align: center;
}

.card-contetnt {
  text-align: start;
  padding: 20px 24px;
}

/* Portfolio Cards */

.card-contetnt__sign{
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-title-color-btn-dark);
  margin-bottom: 4px;
}

.card-contetnt__filter-work{
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-subtitle-color);
  letter-spacing: 0.03em;
}


