/* Portfolio Page*/
.portfolio-page {
  @extend %pading-mobile;
  padding-top: 40px;
  @media screen and (min-width: 1200px){ 
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.page__title--visibility-hidden {
  @extend %visibility-hidden;
}

.portfolio-filters__buttons--curent-btn {
  background-color: $akcent-color;
  color: $text-hero-section-logo-light;
}
  
.portfolio-filters {
  margin-bottom: 40px;
  padding: 0 15px;
  @include animation-efect (color);
 
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  .portfolio-filters__buttons {
    font-family: inherit;
    background-color: #f5f4fa;
    padding: 6px 22px;
    border-radius: 4px;
    border: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: $text-title-color-btn-dark;
    cursor: pointer;
  
    &:not(:last-child) {
      margin-right: 8px;
    }

    &:nth-child(-n+3) {
    margin-bottom: 15px;
      @media screen and (min-width: 768px) {
      margin-bottom: 0;
      } 
    }

    &:focus,
    &:hover {
      color: $text-hero-section-logo-light;
      background-color: $akcent-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
  
  /* main page style portfolio  */
  
.portfolio-set {
  @media screen and (min-width: 768px){
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }
   
  .portfolio-set__item {
    display: flex;
    justify-content: center;
    
    &:not(:last-child) {
    margin-bottom: 30px;
      @media screen and (min-width: 768px){
      margin-bottom: 0;  
      }
    }

    @media screen and (min-width: 768px) { 
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;  
    }

    @media screen and (min-width: 1200px) { 
      flex-basis: calc(100% / 3 - 30px);
    }
  }
}

  
.portfolio-set__link {
  display: block;
  border: 1px solid #eeeeee;
  box-shadow: none;
  @include animation-efect (box-shadow);

  &:hover,
  &:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
  
.image-thumb {
  position: relative;
  overflow: hidden;
}
  
.work-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(101%);
  @include animation-efect (transform);
  
  .portfolio-set__link:hover & {
  transform: translateY(0);
  }

  .portfolio-set__item:focus-within &  {
    transform: translateY(0);
  }
  
  .work-description__anagraph {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: $text-hero-section-logo-light;
    text-align: center;
  }
}
  
/* Portfolio Cards */
.card-contetnt {
  text-align: start;
  padding: 20px 24px;

  .card-contetnt__sign{
    font-weight: $font-weight-bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $text-title-color-btn-dark;
    margin-bottom: 4px;
  }

  .card-contetnt__filter-work{
    font-size: 16px;
    line-height: 1.87;
    color: $text-subtitle-color;
    letter-spacing: 0.03em;
  }
} 