.header{
  border-bottom: 1px solid #ececec; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;

  .header__title-visibility-hiden{
  @extend %visibility-hidden;
  }
     
  @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 15px;
  }
  
  @media screen and (min-width:1200px) {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
} 

.contacts {
  margin-top: 302px;
  display: flex;
  flex-direction: column-reverse;
  
  .contacts__item:not(:last-child) {
    margin-top: 32px;

      @media screen and (min-width: 768px){
      margin-top:0;
      margin-bottom: 10px;
      }

      @media screen and (min-width: 1200px){
      margin-right: 30px;
      }
  }

  @media screen and (min-width: 768px) {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
  flex-direction: row;
  }
}

