/* footer font style  */
.footer {
  background-color: #2f303a;
  // padding-top: 72px;
  // padding-bottom: 60px;

  .footer-holder {
  @extend %pading-mobile;
  @extend %column-center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin: 0;
    }
  }
  .footer-contact{
  @extend %column-center;
  margin-bottom: 60px;
  }

  .join {
    @extend %column-center;
    margin-bottom:60px;
  }

  
}  