.header{
  border-bottom: 1px solid #ececec; 
  
    .header__title-visibility-hiden{
    @extend %visibility-hidden;
  }

  @include respond-to (mobile){
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 15px;
  }

  @media screen and (min-width:768px) {
    height: 80px;
    padding: 0 15px;
  }
  
  @media screen and (min-width:1200px) {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
} 


