// Team section
.team {
  @extend %pading-mobile;
  background-color: $background-section;
}

.brigade {
  // @extend %container-leveling-pages;
  
  .brigade__title {
    font-weight: $font-weight-bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
}

.team-list {
  // @extend %column-wrap;
  // @media (max-width:767px){
  //   width: 450px;
  //   height:622px;
  // }
  & > .team-list__item {
    // @include conums-amount(1);
    background-color: $text-hero-section-logo-light;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    max-width: 450px;
    max-height: 622px;
  }
}


img {
  max-width: 100%;
  display: block;
  height: auto;
  
  }
.caption-pictures {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;

  .caption-pictures__sign {
    @extend %text-m;
    margin-bottom: 10px;
  }
    
  .caption-pictures__profession {
    @extend %text-m;
    margin-bottom: 16px;
    color: $text-subtitle-color;
  }
}

  