/* Our clients */
.our-client {
    display: block;
    @extend %pading-mobile;
    @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 94px 15px;
    }  
}

.clients {
        
    .clients__title {
    @extend %page-title-text;
    text-align: center;
    margin-bottom: 50px;

        @media (max-width:767px){
        font-size: 28px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        }
    }
}

.clients-list {
    @extend %column-wrap;
  
    .clients-list__item {
        display: flex;
        justify-content: center;
        @include conums-amount(2);

        @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 3 - 30px);
        }  

        @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 6 - 30px);
        }  
    }
}
  
.clients-list__link {
    @extend %center-hold;
    width: 210px;
    height: 92px;
    border: 1px solid $icon-color;
    border-radius: 4px;
    
    @media screen and (min-width:768px){
    width: 226px   
    }

    @media screen and (min-width:1200px){
    width: 170px   
    }
    
    @include animation-efect (border);

    &:focus,
    &:hover {
    border: 1px solid $akcent-color;
    border-radius: 4px;
    }
}
  
.clients-list__icon {
    fill: $icon-color;
    @include animation-efect (fill);
    .clients-list__link:focus &,
    .clients-list__link:hover & {
    fill: $akcent-color;
    }
}   
  

  