/* Our clients */
.our-client {
    display: block;
    @extend %pading-mobile;
}

.clients {
        
    .clients__title {
    @extend %page-title-text;
    text-align: center;
    margin-bottom: 50px;
        @media (max-width:767px){
            font-size: 28px;
            line-height: 1.17;
            letter-spacing: 0.03em;
        }
    }
}

.clients-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * #{$set-gap});
    margin-top: calc(-1 * #{$set-gap});
  
    .clients-list__item {
        flex-basis: calc(100% / 2 - #{$set-gap});
        margin-left: $set-gap;
        margin-top: $set-gap;

        @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 3 - 30px);
        }  
    }
}
  
.clients-list__link {
    @extend %center-hold;
    width: 210px;
    height: 92px;
    border: 1px solid $icon-color;
    border-radius: 4px;
    @include animation-efect (border);

    &:focus,
    &:hover {
    border: 1px solid $akcent-color;
    border-radius: 4px;
    }
}
  
.clients-list__icon {
    fill: $icon-color;
    @include animation-efect (fill);
    .clients-list__link:focus &,
    .clients-list__link:hover & {
    fill: $akcent-color;
    }
}   
  

  