// Team section
.team {
  @extend %section-pading ;
  background-color: $background-section;
}

.brigade {
  @extend %container-leveling-pages;
  
  .brigade__title {
    font-weight: $font-weight-bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
}

.team-list {
  @extend %column-wrap;
  
  & > .team-list__item {
    @include conums-amount(4);
    background-color: $text-hero-section-logo-light;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}
   
.caption-pictures {
  text-align: center;
  padding: 30px 0;

  .caption-pictures__sign {
    @extend %text-m;
    margin-bottom: 10px;
  }
    
  .caption-pictures__profession {
    @extend %text-m;
    margin-bottom: 16px;
    color: $text-subtitle-color;
  }
}

  