// Team section
.team {
  @extend %pading-mobile;
  background-color: $background-section;

  @media screen and (min-width:1200px){
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.brigade {
  .brigade__title {
    font-weight: $font-weight-bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
}

.team-list {
  @media screen and (min-width: 768px) {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }
  
  & > .team-list__item {
    background-color: $text-hero-section-logo-light;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    max-height: 622px;
    
    &:not(:last-child) {
    margin-bottom: 30px;
      @media screen and (min-width: 768px){
      margin-bottom: 0;  
      }
    }
    
    
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      margin-left: 30px;
      margin-top: 30px;
    }
    
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);
      max-height: 428px;
    }
  }
}


  
  

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.caption-pictures {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;

  .caption-pictures__sign {
    @extend %text-m;
    margin-bottom: 10px;
  }
    
  .caption-pictures__profession {
    @extend %text-m;
    margin-bottom: 16px;
    color: $text-subtitle-color;
  }
}

  