.baner {
    font-family: inherit;
    max-height: 400px;
    left: auto;
    margin-right: auto;
    background-color: #c4c4c4;
    background-image: linear-gradient(
    to left top,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(../images/baner/Baner_img_480.jpg);
    padding: 118px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-position: center;

    @media (min-resolution:2dppx) {
        background-image: url(../images/baner/Baner_img_480@2x.jpg);
    }

    @media (min-width: 768px) {
        background-image: url(../images/baner/Baner_img_768.jpg);
        @media (min-resolution:2dppx) {
            background-image: url(../images/baner/Baner_img_768@2x.jpg);
        }
    }

    @media (min-width: 1200px) {
        background-image: url(../images/baner/Baner_img_1200.jpg);
        @media (min-resolution:2dppx) {
            background-image: url(../images/baner/Baner_img_1200@2x.jpg);
        }
    }
}