
.nav-tools{
    display: block;
    overflow-y: scroll;
    pointer-events: none;
    flex-direction: column;
    height: 60px;
    opacity: 0;
    @include animation-efect (opacity);
    
    
    @media screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        padding: 48px;
        background-color: #fff;
        z-index: 999;
    }

    @media screen and (min-width: 768px) {
        opacity: 1;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        width: 100vw;
        overflow-y: auto;
    }

    @media screen and (min-width: 1200px){
    align-items: baseline;
    }
    
    .js-close-menu {
        position: absolute;
        top: 10px;
        right: 15px;
        background-color: transparent;
        @media(min-width: 768px){
        display: none;
        }
 
        &:focus .icon-close,
        &:hover .icon-close {
        fill: $akcent-color;
        }

        .icon-close {
        fill:$logo-color-dark;
        @include animation-efect (fill);
        }
    }

    .navigation {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #212121;

        @media screen and (min-width: 768px) {
            display: flex;
            margin-left: 88px;
            opacity: 1;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
        }
    }
}

.nav-tools.is-open {
    opacity: 1;
    pointer-events: auto;
}

.js-open-menu {
    margin: 0;
    padding: 0;
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    
    @media (min-width: 767px) {
    display: none;
    }
}

.nav-bar {
    .nav-bar__item {
      display: block;
      text-decoration: none;
        @media screen and (min-width: 768px) {
        display: flex;
        height: 80px;  
        }  
      &:not(:last-child){
      margin-bottom: 32px;
      
        @media screen and (min-width: 768px) {
        margin-bottom: 0;
        margin-right: 50px;
        }
      }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        opacity: 1;
    }
}

.nav-bar__link {
    @include animation-efect(color);
    @include focus-link ($text-title-color-btn-dark);
        
    &:hover,
    &:focus {
    @include focus-link ($akcent-color);
    }

    @media screen and (min-width: 768px) {
    display: block;
    padding: 32px 0;
    }  
}

.nav-bar__link--current {
    @include focus-link ($akcent-color);
    position: relative;
  
    &::after {
    content: " ";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $akcent-color;
    }
}