$logo-color-dark:              #000000; /*логотип футер*/
$text-title-color-btn-dark:    #212121; /*колір тексту заголовків*/
$text-subtitle-color:          #757575; /*колір тексту опису*/
$text-hero-section-logo-light: #ffffff; /*колір тексту секція героя*/
$akcent-color:                 #2196f3; /*колір активного стану ссилок кнопки*/
$footer-contact-color:         rgba(255, 255, 255, 0.6); /* колір ссилок футера*/
$background-section:           #f5f4fa;
$icon-color:                   #afb1b8;
$button-hover-focus:           #188CE8;

$font-weight-bold:             700; /*Bold*/
$set-gap:                      30px;
$timing-function:              cubic-bezier(0.4, 0, 0.2, 1);
$trans-direct:                 250ms;

$font-main:                    Roboto;
$font-logo:                    Raleway;


